@page "/"

<div class="container d-flex border border-1 border-light">
    <div class="row col-12">
        <div class="text-center">
            <h1 class="text-dark">Digital Cursos</h1>
            <img src="images/logo.jpg" class="img-thumbnail"  with="800" height="500" style="vertical-align:middle;" alt="Digital Cursos"/>
        </div>
    </div>
</div>
